[Unit]
Description=Asigeo App
After=multi-user.target serverInar.service

[Service]
Restart=on-failure
RestartSec=1
ExecStart=/usr/bin/python3 /home/pi/ASIGEO/Main1Pant.py

[Install]
WantedBy=multi-user.target
