Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.8
altgraph==0.17
appdirs==1.4.4
asn1crypto==0.24.0
certifi==2018.8.24
chardet==3.0.4
config==0.5.0.post0
configparser==5.0.2
cryptography==2.6.1
distlib==0.3.1
docutils==0.16
entrypoints==0.3
evdev==1.4.0
ffpyplayer==4.3.2
filelock==3.0.12
idna==2.6
importlib-metadata==3.4.0
keyring==17.1.1
keyrings.alt==3.1.1
Kivy==2.0.0
Kivy-Garden==0.1.4
mcp3008==0.1a3
numpy==1.20.1
paho-mqtt==1.5.1
Pillow==8.1.0
pycrypto==2.6.1
Pygments==2.7.4
PyGObject==3.30.4
pyinstaller-hooks-contrib==2021.1
python-apt==1.8.4.3
python-dateutil==2.8.1
pyxdg==0.25
requests==2.21.0
rpi-backlight==2.2.0
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
spidev==3.5
ssh-import-id==5.7
tb-rest-client==1.1.0
toolz==0.11.1
typing-extensions==3.7.4.3
ufw==0.36
UliEngineering==0.3.5
urllib3==1.24.1
virtualenv==20.4.2
zipp==3.4.0
