[Unit]
Description=TB Server API
After=network.target multi-user.target 

[Service]
Restart=on-failure
ExecStart=/usr/bin/python3 -u /home/pi/ASIGEO/server.py

[Install]
WantedBy=multi-user.target
